<section class="card_presentation" style="background-color: #001016;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="{{path}}"
                    alt="Generic placeholder image" class="img-fluid rounded-circle"
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">{{name}}</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ocupation}}</p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div class="px-3">
                      <p class="small text-muted mb-1">Phone</p>
                      <p class="mb-0">{{phone}}</p>
                    </div>
                    <div>
                      <p class="small text-muted mb-1">Email (gmail.com)</p>
                      <p class="mb-0">{{mail}}</p>
                    </div>
                  </div>
                  <div class="d-flex pt-1">
                    <a href="https://api.whatsapp.com/send?phone=573216697825&text=Front%20Newshore_" target="_blank"><button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat to me</button></a>
                    <a href="mailto:willy0310@gmail.com?Subject=Contact%20To%20Me"><button type="button" class="btn btn-primary flex-grow-1">Send mail</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
