<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 cont_cards">
    <div class="card" style="width: 18rem">
      <img
        src="https://cdn.pixabay.com/photo/2022/11/26/13/59/netherlands-7617882_960_720.jpg"
        class="card-img-top"
        alt=""
      />

      <div class="card-body">
        <p class="card-text">Visita nuestros mejores planes para visitar hermosos lagos</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 cont_cards">
    <div class="card" style="width: 18rem">
      <img
        src="https://cdn.pixabay.com/photo/2022/09/21/16/49/arch-7470764_960_720.jpg"
        class="card-img-top"
        alt=""
      />

      <div class="card-body">
        <p class="card-text">Si eres una persona aventurera acá encontratas los planes de tus sueños</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 cont_cards">
    <div class="card" style="width: 18rem">
      <img
        src="https://cdn.pixabay.com/photo/2021/11/24/17/39/seal-6821775_960_720.jpg"
        class="card-img-top"
        alt=""
      />

      <div class="card-body">
        <p class="card-text">Si quieres descansar en paisajes paradisiacos, este paquete te va a emocionar</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 cont_cards">
    <div class="card" style="width: 18rem">
      <img
        src="https://cdn.pixabay.com/photo/2018/01/09/03/49/the-natural-scenery-3070808_1280.jpg"
        class="card-img-top"
        alt=""
      />

      <div class="card-body">
        <p class="card-text">Con hermosos atardeceres, vista al mar y planes vacacionales para tu familia, este es tu plan ideal</p>
      </div>
    </div>
  </div>
</div>
