<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Newshore_</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fontColor" id="navbarNav">
      <ul class="navbar-nav fontColor-nav">
        <li class="nav-item fontColor-item">
          <a class="nav-link active fontColor-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fontColor-link" href="post/1">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fontColor-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fontColor-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

